/*some dank css*/
/*GLOBAL STYLES*/

html, body {
    height:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#212020;
    font-family:'Trebuchet MS', Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:#000000;
}

h1, h2, h3 {
    margin:0px;
    padding:0px;
    color:#EBBE38;
}

h1 {
    font-size: 2em;
}
p {
    color: #808080;
    margin: 15px 0px;
    line-height: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color:#F7D434;
}

figure {
    padding: 25px;
    margin: 0px;
    background-color: #EBBE3;
    display: inline-block;
    border-radius: 30px;
    text-shadow: 5px 5px 5px #000000;

}

figcaption {
    text-align: center;
    font-size: 1.5em;
    color: #000000;
}

main {
    width: 1200px;
    overflow: hidden;
    margin: 20px auto;
}
/* =========== HEADER STYLES ===========*/

header {
    height: 100px;
    background-color: #212020;
}

#logoGraphic {
    color: #AEAEAE;
}
#logoGraphic:hover {
    color:#FF7900;
}

/*=========== BANNER STYLES===========*/

#banner {
    overflow:hidden;
    padding: 175px 0px;
    border-top: 6px solid #C49918;
    border-bottom: 6px solid #C49918;
    background-color: #AEAEAE;
    background: url(../images/banner-home.jpg) no-repeat center center #FF7900;
    background-size: cover;
}
#bannerText {
    color:#FFFFFF;
    font-size: 6em;
    text-align: center;
    text-shadow: 6px 6px 6px #000000;
}

/*============= NAVIGATION STYLES ==============*/

#menu {
    position: absolute;
    top: 23px;
    right: 20px;
}

#menu ul li {
    display: inline-block;
    margin: 0px 20px;
}

.currentPage {
    color: #FF7900;
}

/*========== THREE COLUMNS STYLES ==========*/

.column1, .column2, .column3 {
    width: 384px;
}

.column1, .column2 {
    float: left;
    margin-right: 24px;
}

.column3 {
    float: left;
}

.column1 h2, .column2 h2, .column3 h2 {
    font-size: 4.5em;
    font-weight: 700;
    text-align: center;
    margin: 15px 0px;
}

.column1 p, .column2 p, .column3 p {
    padding: 0px;
    text-align: justify;
}

.column1 span, .column2 span, .column3 span {
    background-color: #EBBE38;
    color: #FFFFFF;
    display: block;
    font-size: 1.75em;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px;
}

/*==========BUTTON STYLES============*/
.button {
    background-color: #F7D434;
    border-radius: 8px;
    padding: 10px 25px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    position: relative;
    display:block; width:100px; margin:0px auto;
    
    
}

/*=========ABOUT ME SECTION==========*/

.leftAside {
    float: left;
    width: 384px;
    margin-right: 24px;
}

.rightAside {
    float: right;
    width: 384px;
    margin-left: 24px;
}

.aboutMe {
    float: right;
    width: 754px;
}

.aboutMe p {
    text-align: justify;
}

/*==========FOOTER STYLES==========*/
footer {
    height: 125px;
    padding: 30px 0px;
    border-top: dotted 4px #EBBE38;
    text-align: center;
    background-color: #212020;
}

footer p {
    color: #EBBE38;
}



/*=========SOCIAL STYLES===========*/

.fa {
    background-color: rgb(196,153,24);
    border: solid 5px #A68319;
    font-size: 2em !important;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    padding: 12px;
    margin: 0px 15px;
}
/*
1200px
384px x 3 = 1152px
24px x 2 = 48px

total 1200px
*/
